@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: 'Quicksand', sans-serif;
    @apply bg-gray-900;
  }
  
  body > div {
    @apply flex text-white font-light;
  }

  abbr[title] {
    @apply no-underline;
  }

  .tag {
    color: rgba(0, 0, 0, .6);

    @apply w-full py-1 md:py-1.5 rounded-full text-xs text-center font-semibold;
  }

  .tag.complete {
    @apply bg-green;
  }

  .tag.comming {
    background-color: #ffdd57;
  }

  .active {
    @apply text-red;
  }

  .inactive {
    opacity: .2;
  }

  .inactive:hover {
    opacity: 1;
  }
}